/* Se aplica a todos los elementos  */
:root{
    --Rojo: linear-gradient(to bottom right, red, darkred);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* para ver el diseño de la web, útli para depurar*/
    background-color: darkred;
    background-image: var(--Rojo);

}

/* Contenedor principal
ahora se aplica a todos los dispostivos, aunque corresponde al tamaño grande de la pantalla */
.grid-container {
    display: grid;
    grid-template-areas:
        "barra1 barra2"
        "main-content main-content"
        "footer footer";
    grid-template-rows: 10vh 1fr auto;
    /* Altura: encabezado, contenido flexible, pie */
    grid-template-columns: 5fr 1fr;
    /*250px 1fr; /* Ancho: barra lateral fija, contenido flexible */
    min-height: 100vh;
    margin-left: 2vh;
    margin-right: 2vh;
}

/* Estilo para las áreas */
#barra1 {
    grid-area: barra1;
    color: white;
    text-align: left;
    align-content: center;
}

#barra1 div {
    margin-left: 2em;
}

#barra1 button {
    font-size: larger;
    margin: auto 0.5em;
    border: none;
    background: none;
    height: 2rem;
    cursor: pointer;
    padding: 0.2rem;
}

#barra2 {
    grid-area: barra2;
    text-align: right;
    justify-content: space-around;
    display: flex;
    padding: 30px 20px;
    list-style: none;
}

svg {
    width: 1.5rem;
    height: 1.5rem;
}

#Profile a:hover {
    background-color: aqua;
}

#Out a:hover {
    background-color: yellow;
}

.main-content {
    grid-area: main-content;
    padding: 20px;
}

.footer {

    grid-area: footer;
    padding: 25px;
    margin: auto;
    align-content: center;


}

.button {
    display: none;
}

a:link {
    color: rgb(247, 247, 247);
}

@media (max-width: 480px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    #barra2 {
        grid-area: 4 /span 2;
    }

    .main-content {
        grid-row: 1 / span 2;
    }

    .footer,
    #barra1,
    #Profile {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    #barra2 {
        display: none;
    }

    #barra1 button {
        font-size: 0;
    }

}